#outer, button, #display {
    border-radius: 5px;
}

#outer {
    border: 3px solid aqua;
    width: 400px;
    background-color: floralwhite;
}
#display {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border: 3px solid orange;
    width: 85%;
    font: 14pt sans-serif;
}
button {
    width: 50px;
    height: 50px;
    margin-left: 10%;
    margin-top: 10%;
    font: 14pt sans-serif;
}
